body{
    font-family: 'Poppins', sans-serif;
     
}

.search-bar{
    border:solid 1px #ccc;
    width: 80vw;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin:100px auto;
    transition: ease-in .3s;
    -webkit-transition: ease-in .3s;
    -moz-transition: ease-in .3s;
    -ms-transition: ease-in .3s;
    -o-transition: ease-in .3s;
}

.search-bar:focus-within{
    border: solid 1px #aaa;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

.search-bar input.text{
    border:none;
    outline:none;
    padding:10px;
    flex:1;

    font-size:18px;
}

.search-bar .actions{
    display:flex;
    gap:5px;
}

.search-bar .actions button{
    border:none !important;
    outline:none;
    background: none !important;
    cursor: pointer;
    color:#999;
    transition: ease-in .3s;

}

.search-bar .actions button:hover{
    color:#228999fe;

}
