:root{
    --border-color:#558bff; 
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(14, 15, 72);
    color:#fff;
}

.comments-container{
    width: 800px;
    margin: 100px auto;
}

.comments-container > .comment{
    margin-bottom: 10px;
}

.comments-container > .comment .line{
    position:relative;
    width: 10px;
    height: 50%;
    border-left: solid 1px var(--border-color);
    border-bottom: solid 1px var(--border-color);
    border-radius: 0 0 0 8px;
    -webkit-border-radius: 0 0 0 8px;
    -moz-border-radius: 0 0 0 8px;
    -ms-border-radius: 0 0 0 8px;
    -o-border-radius: 0 0 0 8px;
}

.comments-container .comment .comment-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.comments-container .comment .comment-wrapper .content{
    width: 100%;
    display: flex;
    border: solid 1px var(--border-color);
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background: rgb(24,43,80);
}

.comments-container .comment .replies{
    padding-top: 10px;
    position: relative;
    padding-left: 35px;

    display: flex;
    flex-direction: column;
    gap: 10px;

}

.comments-container .comment .replies::before{
    content:'';
    position: absolute;

    background: var(--border-color);
    width: 1px !important;
    top:0;
    height: calc(100% -53px);
}