body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.fa-bell{
    font-size: 48px;
}

.notification{
    width:48px;
    margin:100px auto;
    animation:ring 1s 1s ease-in-out infinite;
    -webkit-animation:ring 1s 1s ease-in-out infinite;
    transform-origin: 50% 4px;
}

.notification .count{
    --size: 35px;
    font-size:12px;
    font-weight:bold;
    background:red;
    color:white;
    border: solid 2px white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    max-width: var(--size);
    max-height: var(--size);
    box-sizing: border-box;
    position: relative;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top:20px;
    left: 20px
}

@keyframes ring {
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    5%{
        transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
    }
    10%{
        transform: rotate(-28deg);
        -webkit-transform: rotate(-28deg);
        -moz-transform: rotate(-28deg);
        -ms-transform: rotate(-28deg);
        -o-transform: rotate(-28deg);
    }
    15%{
        transform: rotate(28deg);
        -webkit-transform: rotate(28deg);
        -moz-transform: rotate(28deg);
        -ms-transform: rotate(28deg);
        -o-transform: rotate(28deg);
}
    20%{
        transform: rotate(-25deg);
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
        -o-transform: rotate(-25deg);
}

    25%{
        transform: rotate(25deg);
        -webkit-transform: rotate(25deg);
        -moz-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
        -o-transform: rotate(25deg);
    }

    30%{
        transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
    }

    35%{
        transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
    }

    
    40%{
        transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -o-transform: rotate(15deg);
    }

    
    45%{
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
    }

    50%{
        transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }
    55%{
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
    }

    60%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
    100%{
        transform: rotate(1deg);
        -webkit-transform: rotate(1deg);
        -moz-transform: rotate(1deg);
        -ms-transform: rotate(1deg);
        -o-transform: rotate(1deg);
}
}
